@import "tailwindcss";
@source inline("border-gray-700 border-red-700 opacity-60");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: var(--color-gray-700);
}
