@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source inline("border-gray-700 border-red-700 opacity-60");

@theme {
  --font-sans: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: var(--color-gray-700);
}

/*  @apply  */
.default-input {
  @apply border rounded-xs p-2 text-gray-700 text-base w-full outline-emerald-800;
}