@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source inline("border-gray-700 border-red-700 opacity-60 border-gray-400 bg-gray-200 pr-[30px]");

@theme {
  --font-sans: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: var(--color-gray-700);
}

.item-hover {
  @apply hover:bg-emerald-300/10
}

/*  @apply  */
.default-input {
  @apply placeholder:text-gray-500 border rounded-xs p-2 text-gray-700 text-base w-full outline-emerald-800 bg-white;
}

.app-input__clear-btn {
  @apply absolute w-[24px] h-[24px] top-[50%] right-[5px] translate-y-[-50%];
}